.search-list-table {
  display: table;
}

.search-list-row {
  display: table-row;
}

.search-list-table:last-child {
  display: block;
}

.search-list-cell {
  display: table-cell;
  width: 100%;
  padding: 10px 10px 0px 10px;
  font-size: 12px;
}

.search-list-name-label {
  padding-left: 10px;
}

.icons {
  display: flex;
}

.show {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
